{% extends 'main.html' %}
{% load staticfiles %}

{% block main %}

    <div class="panel panel-default col-lg-offset-4 col-lg-4 col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 col-xs-12">
        <div class="panel-body">
            <form action="{% url 'main' %}" method="post" autocomplete="off">
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="btn btn-primary btn-rounded waves-effect waves-light">Send</button>
                <a class="add-input btn btn-success btn-rounded waves-effect waves-light">Add input</a>
            </form>
        </div>
    </div>

{% endblock %}

{% block additionalscript %}
    <script type="text/javascript" src="{% static 'js/addinput.js' %}"></script>
{% endblock %}